.hero {
    height: 130vh;
    background-color: #f1e0d3;
    margin-top: 0em;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.hero-container {
    position: relative;
    width: 20rem;
    height: 20rem;
    display: flex;
    justify-content: center;
    /* overflow: hidden; */
    animation: rotate 30s linear infinite;
    /* border: 1px solid black; */
}  

@keyframes rotate {
    0% {
        transform: perspective(1000px) rotateZ(0deg);
    }

    100% {
        transform: perspective(1000px) rotateZ(360deg);
    }
}

img {
    width: 50%;
}

.image-one {
    position: absolute;
    animation: rotateImage 30s linear infinite;
    top: -50%;
}

.image-two {
    position: absolute;
    top: 50%;
    animation: rotateImage 30s linear infinite;
}

.image-three {
    position: absolute;
    top: 10%;
    left: 100%;
    animation: rotateImage 30s linear infinite;
}

.image-four {
    position: absolute;
    top: 10%;
    left: -50%;
    animation: rotateImage 30s linear infinite;
}

@keyframes rotateImage {
    0% {
        transform: perspective(1000px) rotateZ(360deg);
    }

    100% {
        transform: perspective(1000px) rotateZ(0deg);
    }
}



